body {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
div {
	text-align: center;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}
.rock:hover,.paper:hover,.scissors:hover {
	-webkit-box-shadow:inset 0px 0px 0px 3px yellow;
    -moz-box-shadow:inset 0px 0px 0px 3px yellow;
    box-shadow:inset 0px 0px 0px 3px yellow;
}
section {
	display: none;
}
ul {
	list-style-type: none;
}
.header{
	width: auto;
	font-size: 26px;
}
.rock {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
.paper {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
.scissors {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}