body {
	text-align: center;
}
div {
	text-align: center;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}
.header{
	width: auto;
	font-size: 26px;
}
.rock {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer
}
.paper {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer
}
.scissors {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer
}