body {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: 'Permanent Marker', cursive, sans-serif;
}
div {
	text-align: center;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}
#rock {
	background: url('rps_sprite.png') no-repeat 0 -1px;
	width: 76px;
	height: 65px;
}
#paper {
	background: url('rps_sprite.png') no-repeat -90px -1px;
	width: 75px;
	height: 65px;
}
#scissors {
	background: url('rps_sprite.png') no-repeat -179px -1px;
	width: 76px;
	height: 65px;
}
.rock:hover,.paper:hover,.scissors:hover {
	-webkit-box-shadow:inset 0px 0px 0px 3px yellow;
    -moz-box-shadow:inset 0px 0px 0px 3px yellow;
    box-shadow:inset 0px 0px 0px 3px yellow;
}
section {
	display: none;
	font-family: 'Russo One', sans-serif;
}
ul {
	list-style-type: none;
	margin-left: -45px;
}
.header{
	font-family: 'Russo One', sans-serif;
	width: auto;
	font-size: 26px;
	height: auto;
}
.rock {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
.paper {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
.scissors {
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
div .answer {
	display: block;
	z-index: 10;
}
.anim {
	transform-origin: bottom bottom;
	-webkit-transform-origin: bottom bottom;
	animation: grow 1s infinite;
	-webkit-animation: grow 1s infinite;
}
@keyframes grow {
	0%{transform:rotate(0deg); font-size: 30px;}
	50%{transform:rotate(360deg); font-size: 200px;}
	100%{transform:rotate(720deg); font-size: 30px;}
}
@-webkit-keyframes grow {
	0%{-webkit-transform:rotate(0deg); font-size: 30px;}
	50%{-webkit-transform:rotate(360deg); font-size: 200px;}
	100%{-webkit-transform:rotate(720deg); font-size: 30px;}
}